.homepage-forecast {
    width: 25%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    text-shadow: none;
}
.homepage-forecast-temp {
    color: rgb(0, 140, 255);
}