@media screen and (width > 500px) {
    .room-smiles {
        position: absolute;
        width: 40%;
        height: 100px;
        overflow-y: scroll;
        background-color: rgb(20, 20, 32);
        border-radius: 11px;
        align-items: center;
        justify-content: center;
        scrollbar-width: 0;
        margin-top: 10px;
    }
}
@media screen and (width < 500px) {
    .room-smiles {
        position: absolute;
        width: 90%;
        height: 100px;
        overflow-y: scroll;
        background-color: rgb(20, 20, 32);
        border-radius: 11px;
        align-items: center;
        justify-content: center;
        scrollbar-width: 0;
        margin-top: 10px;
    }
}
.room-smiles::-webkit-scrollbar {
    width: 0;
}
.smile-wrapper {
    display: inline-block;
    margin: 3px;
}
.smile {
    width: 20px;
}