.settings-wrapper {
  width: 98%;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (width > 500px) {
  .settings {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 30%;
  }
}
@media screen and (width < 500px) {
  .settings {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 98%;
    border-radius: 15px;
  }
}
.settings-item {
  margin: 15px;
}
