@media screen and (width > 500px) {
    .dark-wrapper {
        max-width: 50%; 
        margin-top: 20px;
        border: 10px solid rgb(41, 41, 41);
        border-radius: 11px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: rgb(41, 41, 41);
    }
}
@media screen and (width < 500px) {
    .dark-wrapper {
        max-width: 95%; 
        margin-top: 20px;
        border: 10px solid rgb(41, 41, 41);
        border-radius: 11px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: rgb(41, 41, 41);
    }
}
.delete-user-foto {
    font-size: 11pt;
    text-align: center;
    cursor: pointer;
}
.fotography {
    max-width: 100%;
    border-radius: 11px;
    background-color: rgb(41, 41, 41);
}
.window {
    background-color: rgb(41, 41, 41);
    border-radius: 11px;
}
.l_and_c_foto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.foto-likes {
    background-color: rgb(52, 122, 252);
    width: 50px;
    color: white;
    padding: 5px;
    border-radius: 11px;
    cursor: pointer;
}
.like-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}