.likers {
    width: 200px;
    height: 50px;
    position: absolute;
    -ms-overflow-style: none;
    overflow: scroll;
    scrollbar-width: none;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 20px;
}
.liker {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.likers::-webkit-scrollbar {
    width: 0;
}