/* @media screen and (width > 500px) {
  .room-smiles {
    position: absolute;
    width: 40%;
    height: 100px;
    overflow-y: scroll;
    background-color: rgb(20, 20, 32);
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    scrollbar-width: 0;
    margin-top: 20px;
    z-index: 1000000;
  }
}
@media screen and (width < 500px) {
  .room-smiles {
    position: absolute;
    width: 90%;
    height: 100px;
    overflow-y: scroll;
    background-color: rgb(20, 20, 32);
    border-radius: 11px;
    align-items: center;
    justify-content: flex-start;
    scrollbar-width: 0;
    margin-top: 20px;
    z-index: 1000000;
  }
}
.room-smiles::-webkit-scrollbar {
  width: 0;
}
.smile-wrapper {
  display: inline-block;
  margin: 3px;
}
.smile-img {
  cursor: pointer;
}
.smile-img:hover {
  border-bottom: 2px solid rgb(0, 140, 255);
}
.smile {
  width: 20px;
  cursor: pointer;
}
.smile:hover {
  background-color: rgb(0, 140, 255);
  border-radius: 50%;
} */
