@media screen and (width > 500px) {
  .content {
    background-color: rgba(0, 0, 0, 0.654);
    border-radius: 10px;
    width: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  .content-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (width < 500px) {
  .content {
    background-color: rgba(0, 0, 0, 0.654);
    border-radius: 10px;
    width: 96%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    color: white;
  }
  .content-content {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
