/* .course-content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 15px;
  width: 100%;
}
.course-content-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
