.content {
  background-color: rgba(0, 0, 0, 0.654);
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.content-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
