.expandable-content {
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.2s ease;
}

.expandable-content.closed {
  max-height: 0;
  opacity: 0;
}

.expandable-content.open {
  max-height: 1000px; /* заведомо больше реального контента */
  opacity: 1;
}

.course-structure {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  width: 100%;
}

.course-structure-edit-icon {
  cursor: pointer;
}

.course-structure-item {
  cursor: pointer;
  padding-left: 7px;
}

.course-structure-subitem {
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.course-structure-subitem:hover {
  opacity: 1;
}

.course-structure-item.selected,
.course-structure-subitem.selected {
  border-left: 3px solid #40a4ff;
}

.course-structure-arrow {
  color: #40a4ff;
}
