.course-layout {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 999px) {
  .course-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .course-sidebar {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .course-layout {
    display: flex;
    flex-direction: column;
  }

  .course-sidebar,
  .course-main {
    width: 100%;
  }

  .course-sidebar {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    padding: 5px;
    box-sizing: border-box;
  }

  .course-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .mini-profile,
  .course-content {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 5px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) {
  .course-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    margin-top: 50px;
  }
  .course-layout {
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .course-main {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 15px;
  }
}
