@media screen and (width <= 500px) {
  .course-editor-width {
    width: 98vw;
  }
}
@media screen and (width > 500px) {
  .course-editor-width {
    width: 40vw;
  }
}

.course-editor {
  border-radius: 11px;
  border: 1px solid #40a4ff;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin-top: 20px;
  color: white;
}

.course-editor-title {
  font-size: 16pt;
  margin: 10px;
  text-align: center;
}

.course-editor-add-button {
  padding: 7px;
  margin: 10px;
  border: 1px solid #40a4ff;
  background-color: rgba(0, 0, 0, 0.5);
  color: #40a4ff;
  border-radius: 11px;
  cursor: pointer;
}

.course-editor-restore-button {
  padding: 7px;
  margin: 10px;
  border: 1px solid #86ed26;
  background-color: rgba(0, 0, 0, 0.5);
  color: #86ed26;
  border-radius: 11px;
  cursor: pointer;
}

.course-editor-save-button {
  padding: 7px;
  margin: 10px;
  border: 1px solid #40a4ff;
  background-color: #40a4ff;
  color: black;
  border-radius: 11px;
  cursor: pointer;
}

.course-editor-save-button:disabled {
  padding: 7px;
  margin: 10px;
  border: 1px solid #40a4ff;
  background-color: #40a4ff;
  color: rgb(84, 84, 84);
  border-radius: 11px;
  cursor: crosshair;
}

.course-editor-form-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-editor-ok {
  padding: 7px;
  margin: 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 11px;
  cursor: pointer;
}

.course-editor-show-backups {
  color: rgb(150, 150, 150);
  font-size: 10pt;
  margin-top: 20px;
  cursor: pointer;
}
