.course-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  margin-top: 50px;
}

.course-layout {
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.course-sidebar {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 11px;
}

.course-main {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 20px;
}

@media (max-width: 799px) {
  .course-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .course-sidebar {
    width: 100%;
  }
}
