.course-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
}

.course-layout {
  max-width: 800px;
  width: 100%;
}

.course-sidebar {
  width: 25%;
}

.course-main {
  display: flex;
  flex-direction: column;
  width: 75%;
}

@media (max-width: 799px) {
  .course-layout {
    flex-direction: column;
  }

  .course-sidebar {
    width: 100%;
  }
}
