.course-layout {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 999px) {
  .course-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .course-sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .course-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 95vw;
    margin-top: 10px;
    padding: 5px;
  }
  .course-main {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }
  .course-sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    padding: 10px;
    width: 95vw;
  }
}
@media screen and (min-width: 500px) {
  .course-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    margin-top: 50px;
  }
  .course-main {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 15px;
  }
}
