.mini-profile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 100%;
  border-radius: 11px;
}

.mini-profile-title {
  font-size: 18pt;
  font-weight: 700;
}

.mini-profile-name-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mini-profile-ok {
  color: #40a4ff;
  margin-left: 10px;
  cursor: pointer;
}
.mini-profile-avatar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-profile-avatar {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px dashed #40a4ff;
  cursor: pointer;
}
.mini-profile-avatar:hover {
  border: 1px solid #40a4ff;
}

.mini-profile-field {
  margin-left: 10px;
}
