.mini-profile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
}

@media screen and (width <= 500px) {
  .mini-profile-width {
    width: 98%;
  }
}
@media screen and (width > 500px) and (width < 1000px) {
  .mini-profile-width {
    width: 40%;
  }
}
@media screen and (width >= 1000px) {
  .mini-profile-width {
    width: 30%;
  }
}
.mini-profile-title {
  font-size: 18pt;
  font-weight: 700;
}

.mini-profile-ok {
  color: #40a4ff;
  margin-left: 10px;
}
.mini-profile-avatar {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px dashed #40a4ff;
}

.mini-profile-field {
  border: none;
  padding: 12px;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #40a4ff;
  width: 94%;
  margin-top: 10px;
  color: white;
}
