.mini-profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.mini-profile-ok {
  color: #40a4ff;
}
.mini-profile-avatar {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px dashed #40a4ff;
}

.mini-profile-field {
  border: none;
  padding: 12px;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #40a4ff;
  width: 94%;
  margin-top: 10px;
  color: white;
}
