.test-editor-title {
  font-size: 14pt;
  margin: 10px;
  text-align: center;
}

.test-editor-title-input {
  padding: 10px;
  margin: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: white;
  border-bottom: 1px solid white;
}

.test-editor-small-input {
  padding: 5px;
  margin: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.test-editor-small-input-white {
  color: white;
  border: 1px solid white;
}

.test-editor-small-input-blue {
  color: #40a4ff;
  border: 1px solid #40a4ff;
}

.test-editor-dark-button {
  padding: 7px;
  margin: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 11px;
  cursor: pointer;
}

.test-editor-red-button {
  padding: 7px;
  margin: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ff083a;
  border: 1px solid #ff083a;
  border-radius: 11px;
  cursor: pointer;
}
