.test-runner {
  margin-top: 24px;
  color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.test-question {
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
}

.test-question-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.test-variant {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
  cursor: pointer;
}

.test-retry {
  border: 1px solid white;
  border-radius: 11px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

.test-check {
  border: 1px solid #40a4ff;
  border-radius: 11px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #40a4ff;
}
