.create-public-form { 
    margin: 0 auto;
    width: 30%;
    margin-top: 5%;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 11px;
    padding: 10px;
}
.create-public-title {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}
.create-public-input {
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0, 140, 255);
    width: 95%;
    margin-bottom: 10px;
    color: white;
}
.create-public-area {
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 12px;
    width: 95%;
    height: 60px;
    margin-bottom: 10px;
    color: white;
}
.create-public-upload-field {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 45%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.create-public-button {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(0, 140, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    border-radius: 12px;
}