@font-face {
  font-family: Marck_Script;
  src: url(../fonts/marck_script.ttf);
}

.art-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.art-top {
  width: 100vw;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.412);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.art-bottom {
  width: 100vw;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.412);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (width < 400px) {
  .art-blocks {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  .art-welcome {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-family: marck_script;
    text-align: center;
  }
}

@media screen and (width > 400px) {
  .art-blocks {
    width: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .art-welcome {
    font-size: 35pt;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-family: marck_script;
    text-align: center;
  }
}
.art-slogan {
  font-size: 35pt;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: marck_script;
  text-shadow: 1px 1px 2px black;
}
