

@media screen and (width < 400px) {
    .zakaz-image {
        width: 94%;
        border-radius: 15px;
    }
    .zakaz {
        width: 100%;
        margin-top: 20px;
        padding: 2%;
        background-color: #241313c5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .zakaz-picture-parent {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .zakaz-delivery {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .zakaz-form {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .zakaz-picture-parent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .zakaz-picture {
        width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
    }
    .zakaz-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .zakaz-text {
        font-size: 22pt;
        font-family: Curve;
        color: rgb(255, 255, 255);
    }
    .buy-text2 {
        font-size: 19pt;
        font-family: Curve;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .zakaz-form-text {
        width: 100%;
        font-size: 19pt;
        font-family: Curve;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        margin-top: 20px;
        display: inline;
        text-align: center;
    }
}
@media screen and (width > 400px) {
    .zakaz-image {
        height: 316px;
        border-radius: 15px;
    }
    .zakaz {
        width: 60%;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #241313c5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .zakaz-picture-parent {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .zakaz-delivery {
        width: 50%;
        margin-left: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .zakaz-form {
        width: 50%;
        display: flex;
        margin-left: 40px;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .zakaz-picture-parent {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .zakaz-picture {
        width: 100%;
       margin-left: 45px; 
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
    }
    .zakaz-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .zakaz-text {
        font-size: 22pt;
        font-family: Curve;
        color: rgb(255, 255, 255);
        margin-left: 20px;
    }
    .buy-text2 {
        font-size: 19pt;
        font-family: Curve;
        margin-left: 50px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: flex-start;
    }
    .zakaz-form-text {
        font-size: 19pt;
        font-family: Curve;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        display: inline;
    }
}








.zakaz-form-fields {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zakaz-form-field1 {
    width: 43%;
    border-radius: 15px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(251, 221, 255);
    margin-right: 10px;
    margin-top: 10px;
}
.zakaz-form-field2 {
    width: 94%;
    border-radius: 15px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(251, 221, 255);
    margin-top: 3px;
}
textarea {
    width: 94%;
    border-radius: 15px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(251, 221, 255);
    margin-top: 20px;
}
