@media screen and (width < 400px) {
  .art-zakaz-image {
    width: 94%;
    border-radius: 15px;
  }
  .art-zakaz {
    width: 100%;
    margin-top: 20px;
    padding: 2%;
    background-color: #241313c5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .art-zakaz-picture-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .art-zakaz-delivery {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .art-zakaz-form {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .art-zakaz-picture-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .art-zakaz-picture {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .art-zakaz-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .art-zakaz-text {
    font-size: 22pt;
    font-family: Curve;
    color: rgb(255, 255, 255);
  }
  .art-buy-text2 {
    font-size: 19pt;
    font-family: Curve;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .art-zakaz-form-text {
    width: 100%;
    font-size: 19pt;
    font-family: Curve;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    display: inline;
    text-align: center;
  }
}
@media screen and (width > 400px) {
  .art-zakaz-image {
    height: 316px;
    border-radius: 15px;
  }
  .art-zakaz {
    width: 60%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #241313c5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .art-zakaz-picture-parent {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .art-zakaz-delivery {
    width: 50%;
    margin-left: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .art-zakaz-form {
    width: 50%;
    display: flex;
    margin-left: 40px;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .art-zakaz-picture-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .art-zakaz-picture {
    width: 100%;
    margin-left: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .art-zakaz-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .art-zakaz-text {
    font-size: 22pt;
    font-family: Curve;
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }
  .art-buy-text2 {
    font-size: 19pt;
    font-family: Curve;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
  }
  .art-zakaz-form-text {
    font-size: 19pt;
    font-family: Curve;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    display: inline;
  }
}

.art-zakaz-form-fields {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.art-zakaz-form-field1 {
  width: 43%;
  border-radius: 15px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(251, 221, 255);
  margin-right: 10px;
  margin-top: 10px;
}
.art-zakaz-form-field2 {
  width: 94%;
  border-radius: 15px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(251, 221, 255);
  margin-top: 3px;
}
.art-textarea {
  width: 94%;
  border-radius: 15px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(251, 221, 255);
  margin-top: 20px;
}
