.photo-create-page {
    margin: 0 auto;
    margin-top: -10px;
    width: 40%;
    background-color: rgba(102, 102, 159, 0.492);
    border-radius: 12px;
}
.photo-page-title {
    font-size: 14pt;
    text-align: center;
}
.photo-create-form {
    margin: 20px;
    padding: 20px;
}
.photo-important-input {
    color: rgb(0, 140, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-bottom: 12px;
    border: 1px solid rgb(0, 140, 255);
    outline: none;
    background-color: transparent;
    border-radius: 12px;
    color: white;
}
.photo-input {
    border: none;
    border-bottom: 2px solid rgb(0, 140, 255);
    background-color: transparent;
    outline: none;
    color: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 12px;
    display: block;
}
.photo-input::-webkit-input-placeholder {color:rgb(0, 140, 255); opacity:1;}/* webkit */
.photo-input::-moz-placeholder          {color:rgb(0, 140, 255); opacity:1;}/* Firefox 19+ */
.photo-input:-moz-placeholder           {color:rgb(0, 140, 255); opacity:1;}/* Firefox 18- */

.photo-important-input::-webkit-input-placeholder {color:rgb(0, 140, 255); opacity:1;}/* webkit */
.photo-important-input::-moz-placeholder          {color:rgb(0, 140, 255); opacity:1;}/* Firefox 19+ */
.photo-important-input:-moz-placeholder           {color:rgb(0, 140, 255); opacity:1;}/* Firefox 18- */

.photo-area {
    border: 1px solid rgb(0, 140, 255);
    background-color: transparent;
    outline: none;
    color: white;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 12px;
    width: 94%;
    height: 100px;
}

.photo-area::-webkit-input-placeholder {color:rgb(0, 140, 255); opacity:1;}/* webkit */
.photo-area::-moz-placeholder          {color:rgb(0, 140, 255); opacity:1;}/* Firefox 19+ */
.photo-area:-moz-placeholder           {color:rgb(0, 140, 255); opacity:1;}/* Firefox 18- */

.photo-button {
    border: 1px solid rgb(0, 140, 255);
    background-color: white;
    color: rgb(0, 140, 255);
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}
.photo-button:hover {
    background-color: rgb(0, 140, 255);
    color: white;
}
.photo-main-button {
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    cursor: pointer;
}
.photo-not-important {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 12px;
}
.photo-not-important-title {
    color: white;
}