@media screen and (width > 500px) {
    .photo-card {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 300px;
        border-radius: 11px;
        background-color: white;
        margin: 7px;
        margin-top: 0;
        padding: 5px;
    }
    .photo-img {
        margin-top: -15px;
        height: 80%;
        border-radius: 11px;
        transition: transform .5s ease-in-out;
    }
}
@media screen and (width < 500px) {
    .photo-card {
        display: block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 11px;
        background-color: white;
        margin: 7px;
        margin-top: 0;
        padding: 5px;
        width: 98%;
    }
    .photo-img {
        width: 98%;
        border-radius: 11px;
        transition: transform .5s ease-in-out;
    }
}
.photo-img:hover {
    transform: rotateX(-20deg) rotateY(-20deg);
}
.photo-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photo-name {
    color: black;
    margin-top: 0px;
}
.photo-author {
    color: rgba(0, 0, 0, 0.743);
    margin: -10px;
}
.photo-author-link {
    color: rgb(0, 140, 255);
    text-decoration: none;
}
.photo-like-wrap {
    border: 3px solid rgb(253, 52, 52);
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: -60px;
    margin-left: 0px;
    cursor: pointer;
}
.photo-card-like-wrap {
    border: 3px solid rgb(253, 52, 52);
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: -45px;
    cursor: pointer;
}
.photo-like-wrap:hover {
    border: 5px solid rgb(253, 52, 52);
    padding: 8px;
}
.photo-like-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo-parameter {
    text-align: left;
}