.photo-page-wrapper {
    width: 80%;
    margin: 0 auto;
}
.photo-page-title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 15px;
}
.photos-link {
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    text-decoration: none;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}
.photos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}