.photo {
    width: 35%;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
}
.photo-img-big {
    width: 100%;
    border-radius: 12px;
}
.photo-back {
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    text-decoration: none;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}