.photo-card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border-radius: 11px;
    background-color: white;
    margin: 7px;
    padding: 5px;
}
.photo-img {
    width: 99%;
    border-radius: 11px;
}
.photo-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photo-name {
    color: black;
    margin: 0;
}
.photo-author {
    color: rgba(0, 0, 0, 0.743);
    margin: 0;
}
.photo-author-link {
    color: rgb(0, 140, 255);
}
.photo-like-wrap {
    border: 1px solid rgb(253, 52, 52);
    padding: 3px;
    border-radius: 50%;
    width: 50px;
}
.photo-like-wrap:hover {
    border: 3px solid rgb(253, 52, 52);
}
.photo-like-img {
    width: 100%;
}