.message-input {
    width: 60%;
    outline: none;
    margin-left: 8px;
}
.message-input-recording {
    padding: 15px;
    width: 60%;
    outline: none;
    border-radius: 15px;
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(0, 140, 255);
    margin-left: 6px;
    color: rgb(0, 140, 255);
}
@media screen and (width < 500px) {
    .header {
        display: block;
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }   
}
.message {
    padding: 8px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
}
.my-message {
    padding: 8px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}
.message-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.send-message {
    width: 14%;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(0, 140, 255);
    color: white;
    border: none;
    margin-left: 3px;
}
.message-actions {
    width: 99%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.room-window::-webkit-scrollbar {
    width: 20px;               /* ширина scrollbar */
}
.room-window::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
.room-window::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 32);    /* цвет плашки */
    border-radius: 11px;       /* закругления плашки */
    border: 1px solid rgb(0, 140, 255);  /* padding вокруг плашки */
}

.room-window::-moz-scrollbar {
    width: 20px;               /* ширина scrollbar */
}
.room-window::-moz-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
.room-window::-moz-scrollbar-thumb {
    background-color: rgb(20, 20, 32);    /* цвет плашки */
    border-radius: 11px;       /* закругления плашки */
    border: 1px solid rgb(0, 140, 255);  /* padding вокруг плашки */
}

.room-window::-o-scrollbar {
    width: 20px;               /* ширина scrollbar */
}
.room-window::-o-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
.room-window::-o-scrollbar-thumb {
    background-color: rgb(20, 20, 32);    /* цвет плашки */
    border-radius: 11px;       /* закругления плашки */
    border: 1px solid rgb(0, 140, 255);  /* padding вокруг плашки */
}

.messages {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.message-wrapper {
    background-color: rgba(0, 0, 0, .6);
    margin-bottom: 10px;
    border-radius: 25px;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.my-message-wrapper {
    background-color: rgba(0, 0, 0, .6);
    margin-bottom: 10px;
    border-radius: 25px;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.message-date {
    color:rgba(20, 20, 32, 0.692);
}
.message-text {
    margin: 5px;
    text-align: left;
}
.upload-message-image {
    margin-top: 3px;
    height: 40px;
    cursor: pointer;
}
.message-file-link {
    color:rgb(0, 140, 255);
    margin: 30px;
    text-decoration: none;
    cursor: pointer;
}
.message-image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (width > 500px) {
    .room-wrapper {
        width: 45%;
        margin: 0 auto;
    } 
    .room-head {
        position: absolute;
        width: 43.6%;
        height: 40px;
        background-color: rgb(0, 0, 0);
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 11px 11px 0 0;
        z-index: 100;
        margin-left: -10px;
    }
    .room-window {
        width: 95%;
        height: 72vh;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, .5);
        background-size: 100% auto;
        border-radius: 11px;
        margin-top: 5%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .message-image {
        max-width: 50%;
        border-radius: 10px;
        border: 1px solid rgb(0, 140, 255);
    }
}
@media screen and (width < 500px) {
    .room-wrapper {
        width: 100%;
        margin: 0 auto;
    } 
    .room-head {
        color: white;
        width: 90%;
        height: 40px;
        background-color: rgb(0, 0, 0);
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .room-window {
        width: 95%;
        height: 72vh;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, .5);
        background-size: auto 100%;
        border-radius: 11px;
        margin-top: 5px;
        margin-left: 0px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .message-image {
        width: 98%;
        border-radius: 10px;
        border: 1px solid rgb(0, 140, 255);
        margin-bottom: 10px;
    }
}
.upload-bg {
    position: sticky;
    width: 30px;
    z-index: 1000;
    margin-left: 95%;
    cursor: pointer;
}
