@import url("../colors.css");

.message-field-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.message-selected-files {
  height: 75px;
  width: 100%;
}

.message-field-actions {
  height: 20px;
  width: 100%;
}

.message-field-actions span {
  color: var(--blue-neon);
  cursor: pointer;
  margin: 5px;
}

.message-field-wrapper {
  position: static;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-field-send {
  height: 50px;
  margin: 10px;
}

.message-field-input {
  height: 100%;
}
