@import url("../colors.css");

.room-message-wrapper {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.room-message {
  width: 80%;
  padding: 5px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid var(--blue-neon);
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.room-message-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.room-message-avatar {
  width: 25px;
  height: 25px;
  display: inline-block;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.room-message-name {
  text-align: left;
  font-size: 14pt;
}

.room-message-text {
  text-align: left;
  font-size: 13pt;
  margin-top: 10px;
}

.room-message-images {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.room-message-image {
  flex: 1 0 0;
  border-radius: 15px;
}

.room-message-image-margin {
  margin-right: 10px;
}

.room-message-videos {
  display: flex;
  flex-wrap: wrap;
}

.room-message-video-container {
  flex: 1 0 0;
  position: relative;
}

.room-message-video {
  width: 100%;
  height: auto;
}

.room-message-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.room-message-date {
  font-size: 10pt;
  text-align: left;
  color: rgb(200, 200, 200);
}

.room-message-actions-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.room-message-action {
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}
