@import url("./colors.css");

.room-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.room-modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 75%;
  border-radius: 15px;
  position: relative;
}

.room-modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.room-modal-body {
  width: 100%;
}

.room-modal-neutral {
  border: 0.5px solid var(--blue-neon);
  color: var(--blue-neon);
}

.room-modal-success {
  border: 0.5px solid var(--green-neon);
  color: var(--green-neon);
}

.room-modal-error {
  border: 0.5px solid var(--red-neon);
  color: var(--red-neon);
}

@media screen and (width <= 500) {
  .room-modal-content-width {
    width: 98%;
  }
}

@media screen and (width <= 768px) {
  .room-modal-content-width {
    width: 60%;
  }
}

@media screen and (width < 1080px) {
  .room-modal-content-width {
    width: 50%;
  }
}

@media screen and (width >= 1080px) {
  .room-modal-content-width {
    width: 50%;
  }
}

@media screen and (width >= 1920px) {
  .room-modal-content-width {
    width: 500px;
  }
}
