@import url("../colors.css");

@media screen and (width <= 600px) {
  .room-size {
    width: 100vw;
    height: 100vh;
    margin: 5px 10px;
  }
}
@media screen and (width > 600px) {
  .room-size {
    width: 60vw;
    height: 80vh;
  }
}
@media screen and (width > 1000px) {
  .room-size {
    width: 40vw;
    height: 500px;
  }
}

.room {
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--blue-neon);
  border-radius: 15px;
}

.room-messages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
