@import url("../colors.css");

@media screen and (width <= 600px) {
  .room-size {
    width: 100vw;
    height: 100vh;
    margin: 5px 10px;
  }
}
@media screen and (width > 600px) {
  .room-size {
    width: 60vw;
    height: 80vh;
  }
}
@media screen and (width > 1000px) {
  .room-size {
    width: 40vw;
    height: 70vh;
  }
}

.room {
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--blue-neon);
  border-radius: 15px;
}

.room-messages {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 50px;
}

.room-window::-webkit-scrollbar {
  width: 20px;
}
.room-window::-webkit-scrollbar-track {
  background: transparent;
}
.room-window::-webkit-scrollbar-thumb {
  background-color: rgb(20, 20, 32);
  border-radius: 11px;
  border: 1px solid var(--blue-neon);
}

.room-messages::-moz-scrollbar {
  width: 20px;
}
.room-messages::-moz-scrollbar-track {
  background: transparent;
}
.room-messages::-moz-scrollbar-thumb {
  background-color: rgb(20, 20, 32);
  border-radius: 11px;
  border: 1px solid var(--blue-neon);
}

.room-messages::-o-scrollbar {
  width: 20px;
}
.room-messages::-o-scrollbar-track {
  background: transparent;
}
.room-messages::-o-scrollbar-thumb {
  background-color: rgb(20, 20, 32);
  border-radius: 11px;
  border: 1px solid var(--blue-neon);
}
