@import url("../colors.css");

.room-smiles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.smile-wrapper {
  display: inline-block;
  margin: 3px;
}
.smile-image {
  cursor: pointer;
  border-radius: 50%;
}
.smile-image:hover {
  /* border-bottom: 2px solid var(--neon-blue); */
  filter: brightness(200%);
  box-shadow: 0 0 16px var(--neon-blue);
}
