@import url("../colors.css");

.message-field-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.message-selected-files {
  height: 75px;
  width: 100%;
}

.message-field-actions {
  height: 20px;
  width: 100%;
}

.message-field-actions span {
  color: var(--blue-neon);
  cursor: pointer;
  margin: 5px;
}

.message-field-wrapper {
  width: 100%;
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-field-send {
  height: 30px;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 0;
}

.message-field-input {
  height: 100%;
  width: 92%;
  margin-right: 10px;
  margin-bottom: 0;
  border-bottom: none;
  border-radius: 15px;
  box-shadow: none;
}
