.landing_page {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    scrollbar-width: none;
    color: black;
}
body::-webkit-scrollbar {
    width: 0px;
}
@media screen and (width > 500px) {
    .landing_page_icon_1 {
        position: absolute;
        margin-left: 27%;
        margin-top: 50vh;
        width: 150px;
    }
    .landing_page_list {
        list-style: inside;
    }
}
@media screen and (width < 500px) {
    .landing_page_icon_1 {
        position: absolute;
        margin-left: 25%;
        margin-top: 40px;
        width: 80px;
    }
    .landing_page_list {
        list-style: inside;
        margin-left: -10%;
    }
}
.landing_page_title {
    color: black;
}
.landing_page_list_item {
    display: inline-block;
    font-size: 15pt;
    margin: 10px;
}
@media screen and (width < 500px) {
    .landing_page_actions {
        margin-top: 20px;
    }
}
@media screen and (width < 500px) {
    .landing_page_actions {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
.landing_page_action {
    text-decoration: none;
    font-size: 16pt;
    margin: 15px;
    color: rgb(0, 140, 255);
}
.landing_page_image_wrapper {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.landing_page_image_wrapper::-webkit-scrollbar {
    width: 0px;
}
.landing_page_image_wrapper::-o-scrollbar {
    width: 0px;
}
.landing_page_image_wrapper::-moz-scrollbar {
    width: 0px;
}

.landing_page_image_wrapper::-webkit-scrollbar-track {
    width: 0px;
}
.landing_page_image_wrapper::-o-scrollbar-track {
    width: 0px;
}
.landing_page_image_wrapper::-moz-scrollbar-track {
    width: 0px;
}
.landing_page_image {
    width: 100%;
}
.landing_page_support_link {
    color:rgb(0, 140, 255);
    text-decoration: none;
    font-size: 10pt;
}
.landing_page_support {
    padding: 14px;
    border-top: 1px solid rgb(0, 140, 255);
    background-color: rgb(0, 140, 255);
    color: white;
}
.landing_page_support_link {
    color: rgb(0, 140, 255);
    border-radius: 11px;
    padding: 5px;
    background-color: white;
}