.art-body {
  margin: 0;
  padding: 0;
  background: url(./img/bg.png) no-repeat;
  background-size: cover; /* Современные браузеры */
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden; /* Скрываем scrollbars */
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}
.art-body::-webkit-scrollbar {
  display: none;
}
.art-button {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: azure;
  border-radius: 20px;
  border: none;
  color: rgb(192, 67, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-size: 12pt;
}
.art-button:hover {
  background-color: rgb(192, 67, 0);
  color: white;
}
.art-bg {
  width: 80%;
  background-color: #442f0289;
  border-radius: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
}
