@font-face {
	font-family: 'Brand';
	src:
		url('./font/brand2.ttf') format('truetype'), /* Safari, Android, iOS */
}
@media screen and (width > 500px) {
  .main-center {
    margin: 0 auto;
    width: 30vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (width < 500px) {
  .main-center {
    margin: 0 auto;
    width: 98vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.main-center-title {
  color: white;
  font-size: 16pt;
  margin-top: 15px;
}
.picture-item {
  margin-top: 15px;
}
.picture-item-img {
  width: 94%;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 10px;
}
.picture-item-title {
  color: white;
  font-size: 14pt;
}
.buy-button {
  border-radius: 20px;
  padding: 5px;
  background-color: #40A4FF;
  box-shadow: 0 0 5px #40A4FF;
  border: 3px solid transparent;
  margin-left: 15px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.6s;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 7px #40A4FF;
  } 50% {
    box-shadow: 0 0 16px #40A4FF;
  } 100% {
    box-shadow: 0 0 8px #40A4FF;
  }
}
@keyframes header-glow {
  0% {
    box-shadow: 0 0 15px #40A4FF;
  } 50% {
    box-shadow: 0 0 30px #40A4FF;
  } 100% {
    box-shadow: 0 0 16px #40A4FF;
  }
}
.buy-button:hover {
  transform: scale(110%);
}
.picture-item-bottom {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.artshop-header {
  width: 98.9%;
  padding: 10px;
  margin: 0;
  background-color: #40A4FF;
  box-shadow: 0 0 20px #40A4FF;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition-property: transform;
  transition-duration: 0.6s;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.header-brand {
  font-family: 'Brand';
  font-size: 20pt;
}
.header-link {
  color: black;
  background-color: transparent;
  border: none;
  margin: 0;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}
.header-link:hover {
  color: white;
}